<html>
<head>
    <title>InkVision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="content">
    <div class="Akshir">

    <h1><u><b>Welcome to InkVision</b></u></h1> <br>

    <p>"DiscoverDigits: Where Numbers Come to Life! Embrace the world of digit recognition with our intuitive and powerful project that brings handwritten numbers to light."</b></p>
    <h3>Click Below ⬇️ to upload Image </h3>

    </div>

        <form action="/predictdata" method="GET">
            <input type="submit" class="search" value="Let's Go">
        </form>
    </div>
    
</body>
</html>